<table id="log-list" class="w-full table-fixed border-collapse">
  <thead>
    <tr>
      <th
        class="w-3/12 border border-slate-300 p-4 text-left font-semibold text-slate-900"
      >
        Sha
      </th>
      <th
        class="border border-slate-300 p-4 text-left font-semibold text-slate-900"
      >
        Message
      </th>
    </tr>
  </thead>
  <tbody>
    {% for commit in commits %}
    <tr>
      <td
        class="overflow-hidden overflow-ellipsis border border-slate-300 p-4"
        title="{{ commit.id }}"
      >
        {{ commit.id }}
      </td>
      <td class="break-words border border-slate-300 p-4">
        {{ commit.message }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
